* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  font-size: 20px;
  /* font-family: "Times New Roman"; */
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 100%;
  height: 50px;
  background-color: rgb(186, 116, 55);
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.login>p{
  color: white;
  font-size: 21px;
  gap: 5px;
}
.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  border-radius: 5px;
}
.containerContent {
  padding-inline: 16px;
  width: 100%;
  padding-block: 32px;
  max-width: 400px;
  margin-inline: auto;
}
.containerContent h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #000;
}
.containerContent h3 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #000;
}
.containerContent form {
  display: grid;
  gap: 5px;
}
/* .containerContent label {
  font-size: 15px;
  color: #000;
} */
.inputRow {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  border-radius: 5px;
}

.inputRow > i {
  position: absolute;
  top: 35%;
  right: 5px;
  font-size: 18px;
}
.containerContent input {
  width: 100%;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
}
.containerContent input::placeholder {
  /* color:#fff; */
}
.password-eye {
  /* color:#fff; */
}
.inputFP {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.inputFP a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}
.inputFP a:hover {
  color: #2015ea;
}
::placeholder{
  font-size: 17px;
}
.containerContent button {
  max-width: 80%;
  margin-left: 10%;
  margin-block: 16px 32px;
  padding: 12px 32px;
  outline: none;
  border: none;
  font-size: 19px;
  background-color: rgb(186, 116, 55);
  border-radius: 10px;
  color: white;
}
button:active {
  scale: 0.9;
}

.containerContent h5 {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.containerContent p {
  color: #000;
  text-align: center;
}
.containerContent p a {
  text-decoration: none;
  font-weight: 400;
  color: #0000cd;
}
.containerContent a:hover {
  color: #dc143c;
}
.social > a {
  width: 40%;
  display: flex;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 3px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}
.social > a > i {
  color: aliceblue;
  text-align: center;
}
.social {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.social_link > p {
  margin-left: 8px;
  align-items: center;
  color: aliceblue;
}
#fb {
  background-color: rgb(38, 38, 199);
}
#gg {
  background-color: red;
}
#apple {
  background-color: black;
}
