*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 60%;
    gap: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}
.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}
.divider{
    width: 1px;
    height: 100%;
    background-color: black;

}
.content{
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    width: 50%;
}
.content>.form_group{
    margin-bottom: 10px;
}
.content>.form_group>.items{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
}
.items>input{
    padding: 5px;
    width: 100%;
    /* height: 30px; */
}
.items>i{
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 16px;
    color: gray;
}
.require{
    margin-top: -5px;
    display: none;
}
.require>p{
    font-size: 14px;
    font-style: italic;
    color: red
}
.fail{
    font-size: 14px;
    font-style: italic;
    color: red
}
.success{
    font-size: 14px;
    color: rgb(30, 128, 49)
}
.sign_up>p{
    align-items: center;
}
#submit{
    padding: 5px 20px;
    color: aliceblue;
    background-color: rgb(186, 116, 55);
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
#submit:active{
    scale: 0.9;
}
.sign_up{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    color: aliceblue;
    background-color: rgb(186, 116, 55);
}
.sign_up>p{
    font-size: 20px;
}
.form_group>p{
    margin-bottom: 5px;
    font-size: 18px;
}

::placeholder{
    font-size: 15px;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link>p{
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 20px;
}
.social>a{
    /* width: 80%; */
    display: flex;
    text-decoration: none;
    gap: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    color: aliceblue;
    align-items: center;
}
.social_link>p{
    margin-left: 5px;
    /* background-color: #fff; */
    align-items: center;
}
.social_link:last-child p{
    margin-left: 10px;
}

#fb{
    background-color: rgb(38, 38, 199);
}
#gg{
    background-color: red
}
#apple{
    background-color: black
}
.logo{
    width: 180px;
}
.logo>img{
    width: 100%;
}